@page
@model Interfaz.Pages.Categorias.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-3xl font-bold m-3"> Detalles de la Categoria</h1>

<div class="m-4 flex items-center justify-center">
    <div class="bg-gray-200 p-6 rounded-lg shadow-md">
        <h4 class="text-lg font-semibold mb-4">Categoría</h4>
        <hr class="mb-4" />
        <dl>
            <div class="flex justify-between mb-2">
                <dt class="font-semibold">Nombre:</dt>
                <dd>@Html.DisplayFor(model => model.Categoria.Nombre)</dd>
            </div>

            <div class="flex justify-between mb-2">
                <dt class="font-semibold">Descripción:</dt>
                <dd>@Html.DisplayFor(model => model.Categoria.Descripcion)</dd>
            </div>

            <div class="flex justify-between mb-2">
                <dt class="font-semibold">Imagen:</dt>
                <dd>@Html.DisplayFor(model => model.Categoria.Imagen)</dd>
            </div>
        </dl>
    </div>
</div>

<div class="flex justify-center mt-4 font-bold">
    <a asp-page="./Edit" asp-route-id="@Model.Categoria?.Id" class="mr-4">Editar</a> |
    <a asp-page="./Index">Volver al listado</a>
</div>
