@page
@model Interfaz.Pages.Categorias.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-3xl font-bold m-3"> Editar Categoria</h1>
<hr />
<div class="m-4 flex items-center justify-center">
    <div class="col-md-4  p-4 bg-slate-200 rounded-md">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Categoria.Id" />
            <div class="form-group">
                <label asp-for="Categoria.Nombre" class="control-label"></label>
                <input asp-for="Categoria.Nombre" class="form-control" />
                <span asp-validation-for="Categoria.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria.Descripcion" class="control-label"></label>
                <input asp-for="Categoria.Descripcion" class="form-control" />
                <span asp-validation-for="Categoria.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria.Imagen" class="control-label"></label>
                <input asp-for="Categoria.Imagen" class="form-control" />
                <span asp-validation-for="Categoria.Imagen" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="font-bold" asp-page="./Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
