@page
@model Interfaz.Pages.Proveedores.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-3xl font-bold m-3"> Editar Proveedor</h1>

<hr />
<div class="m-4 flex items-center justify-center">
    <div class="col-md-4  p-4 bg-slate-200 rounded-md">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Proveedor.Id" />
            <div class="form-group">
                <label asp-for="Proveedor.Nombre" class="control-label"></label>
                <input asp-for="Proveedor.Nombre" class="form-control" />
                <span asp-validation-for="Proveedor.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor.Contacto" class="control-label"></label>
                <input asp-for="Proveedor.Contacto" class="form-control" />
                <span asp-validation-for="Proveedor.Contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor.Pais" class="control-label"></label>
                <input asp-for="Proveedor.Pais" class="form-control" />
                <span asp-validation-for="Proveedor.Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor.Notas_Adicionales" class="control-label"></label>
                <input asp-for="Proveedor.Notas_Adicionales" class="form-control" />
                <span asp-validation-for="Proveedor.Notas_Adicionales" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="font-bold">
    <a asp-page="./Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
