@page
@model Interfaz.Pages.Productos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-3xl font-bold m-3"> Registrar Producto</h1>


<hr />
<div class="m-4 flex items-center justify-center  ">
    <div class="col-md-4  p-4 bg-slate-200 rounded-md">
        
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Producto.Nombre" class="control-label"></label>
                <input asp-for="Producto.Nombre" class="form-control" />
                <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Descripcion" class="control-label"></label>
                <input asp-for="Producto.Descripcion" class="form-control" />
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Marca" class="control-label"></label>
                <input asp-for="Producto.Marca" class="form-control" />
                <span asp-validation-for="Producto.Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Precio" class="control-label"></label>
                <input asp-for="Producto.Precio" class="form-control" />
                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Estado" class="control-label"></label>
                <input asp-for="Producto.Estado" class="form-control" />
                <span asp-validation-for="Producto.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Imagen" class="control-label"></label>
                <input asp-for="Producto.Imagen" class="form-control" />
                <span asp-validation-for="Producto.Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Id_Categoria" class="control-label"></label>
                <input asp-for="Producto.Id_Categoria" class="form-control" />
                <span asp-validation-for="Producto.Id_Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Id_Proveedor" class="control-label"></label>
                <input asp-for="Producto.Id_Proveedor" class="form-control" />
                <span asp-validation-for="Producto.Id_Proveedor" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 ">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="font-bold">
    <a asp-page="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
