@page
@model Interfaz.Pages.VistaProductos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Producto.Nombre" class="control-label"></label>
                <input asp-for="Producto.Nombre" class="form-control" />
                <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Descripcion" class="control-label"></label>
                <input asp-for="Producto.Descripcion" class="form-control" />
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Marca" class="control-label"></label>
                <input asp-for="Producto.Marca" class="form-control" />
                <span asp-validation-for="Producto.Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Precio" class="control-label"></label>
                <input asp-for="Producto.Precio" class="form-control" />
                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Estado" class="control-label"></label>
                <input asp-for="Producto.Estado" class="form-control" />
                <span asp-validation-for="Producto.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Imagen" class="control-label"></label>
                <input asp-for="Producto.Imagen" class="form-control" />
                <span asp-validation-for="Producto.Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Id_Categoria" class="control-label"></label>
                <input asp-for="Producto.Id_Categoria" class="form-control" />
                <span asp-validation-for="Producto.Id_Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Id_Proveedor" class="control-label"></label>
                <input asp-for="Producto.Id_Proveedor" class="form-control" />
                <span asp-validation-for="Producto.Id_Proveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
