@page
@model Interfaz.Pages.VistaProductos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container mx-auto p-6">
    <h1 class="mb-4 text-3xl font-semibold">Editar Producto</h1>
    <div class="rounded-lg bg-gray-100 p-6 shadow-lg">
        <h2 class="mb-4 text-xl font-semibold">Detalle del Producto</h2>
        <form method="post">
            <div class="mb-4">
                <label for="categoria" class="mb-2 block text-lg font-semibold">Categoría:</label>
                <input id="categoria" asp-for="Producto.Id_Categoria" class="form-control" />
                <span asp-validation-for="Producto.Id_Categoria" class="text-red-500"></span>
            </div>
            <div class="mb-4">
                <label for="proveedor" class="mb-2 block text-lg font-semibold">Proveedor:</label>
                <input id="proveedor" asp-for="Producto.Id_Proveedor" class="form-control" />
                <span asp-validation-for="Producto.Id_Proveedor" class="text-red-500"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    <div class="mt-8">
        <a asp-page="./Index" class="btn btn-secondary">Volver al Listado</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
