@page
@model Interfaz.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}






<div class="min-h-screen flex items-center justify-center px-4">
    
    <div class="bg-slate-200 flex flex-col rounded-2xl shadow-lg max-w-3xl p-8 items-center">
        <h1 class="text-lg font-semibold mb-4">Control de administrador</h1>
        <div class="flex flex-col space-y-4 items-center">
            <button class="btn" onclick="window.location.href='/proveedores'">Proveedores</button>
            <button class="btn" onclick="window.location.href='/productos'">Productos</button>
            <button class="btn" onclick="window.location.href='/categorias'">Categorías</button>
            <button class="btn" onclick="window.location.href='/usuarios'">Usuarios</button>
        </div>
    </div>
</div>


