@page
@model Interfaz.Pages.Usuarios.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-3xl font-bold m-3"> Agregar un nuevo usuario</h1>
<hr />
<div class="m-4 flex items-center justify-center">
    <div class=" col-md-4 p-4 bg-slate-200 rounded-md">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario.Nombre" class="control-label"></label>
                <input asp-for="Usuario.Nombre" class="form-control" />
                <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Primer_Apellido" class="control-label"></label>
                <input asp-for="Usuario.Primer_Apellido" class="form-control" />
                <span asp-validation-for="Usuario.Primer_Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Segundo_Apellido" class="control-label"></label>
                <input asp-for="Usuario.Segundo_Apellido" class="form-control" />
                <span asp-validation-for="Usuario.Segundo_Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Correo" class="control-label"></label>
                <input asp-for="Usuario.Correo" class="form-control" />
                <span asp-validation-for="Usuario.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Telefono" class="control-label"></label>
                <input asp-for="Usuario.Telefono" class="form-control" />
                <span asp-validation-for="Usuario.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Id_Rol" class="control-label"></label>
                <input asp-for="Usuario.Id_Rol" class="form-control" />
                <span asp-validation-for="Usuario.Id_Rol" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
