@page
@model Interfaz.Pages.Usuarios.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Usuario.Id" />
            <div class="form-group">
                <label asp-for="Usuario.Nombre" class="control-label"></label>
                <input asp-for="Usuario.Nombre" class="form-control" />
                <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Primer_Apellido" class="control-label"></label>
                <input asp-for="Usuario.Primer_Apellido" class="form-control" />
                <span asp-validation-for="Usuario.Primer_Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Segundo_Apellido" class="control-label"></label>
                <input asp-for="Usuario.Segundo_Apellido" class="form-control" />
                <span asp-validation-for="Usuario.Segundo_Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Correo" class="control-label"></label>
                <input asp-for="Usuario.Correo" class="form-control" />
                <span asp-validation-for="Usuario.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Telefono" class="control-label"></label>
                <input asp-for="Usuario.Telefono" class="form-control" />
                <span asp-validation-for="Usuario.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Id_Rol" class="control-label"></label>
                <input asp-for="Usuario.Id_Rol" class="form-control" />
                <span asp-validation-for="Usuario.Id_Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
