@page
@model Interfaz.Pages.CarritosCompra.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CarritoCompra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarritoCompra.Id_Usuario" class="control-label"></label>
                <input asp-for="CarritoCompra.Id_Usuario" class="form-control" />
                <span asp-validation-for="CarritoCompra.Id_Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarritoCompra.Id_Producto" class="control-label"></label>
                <input asp-for="CarritoCompra.Id_Producto" class="form-control" />
                <span asp-validation-for="CarritoCompra.Id_Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarritoCompra.NombreProducto" class="control-label"></label>
                <input asp-for="CarritoCompra.NombreProducto" class="form-control" />
                <span asp-validation-for="CarritoCompra.NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarritoCompra.ImagenProducto" class="control-label"></label>
                <input asp-for="CarritoCompra.ImagenProducto" class="form-control" />
                <span asp-validation-for="CarritoCompra.ImagenProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarritoCompra.DescripcionProducto" class="control-label"></label>
                <input asp-for="CarritoCompra.DescripcionProducto" class="form-control" />
                <span asp-validation-for="CarritoCompra.DescripcionProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarritoCompra.PrecioProducto" class="control-label"></label>
                <input asp-for="CarritoCompra.PrecioProducto" class="form-control" />
                <span asp-validation-for="CarritoCompra.PrecioProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarritoCompra.Cantidad" class="control-label"></label>
                <input asp-for="CarritoCompra.Cantidad" class="form-control" />
                <span asp-validation-for="CarritoCompra.Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
